<!-- Modal -->
<div class="modal fade" id="exampleModal_add_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'add_practical' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Project Title : </label>
                        <input required value="" name="title" type="text" class="form-control"  placeholder="Enter Project Title">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Project Description :</label>
                        <textarea required name="description" class="form-control"  rows="5"></textarea>
                    </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                      <label>Add an Imange for Your project
                      <input type="file" name="image">

                      </label>
                  </div>
              </div>
              <button class="btn btn-secondary" type="submit" style="display: block;width: 100%">Add Job</button>





          </form>
      </div>
    </div>
  </div>
</div>