
<!-- Modal -->
<div class="modal fade" id="exampleModal_change_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="margin-top: -15px" method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Current Password :</label>
                        <input name="old_password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the old password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">New Password :</label>
                        <input name="new_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the new Password">
                      </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">Confirm New Password :</label>
                        <input name="new_password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the new Password again">
                      </div>
            <hr class="my-4">
                    <div class="row">
                        <div class="col-md-12" style="margin-right: 10px">
                      <button style="text-align: center;width: 100%;" type="submit" class="btn btn-info">Change Password</button>

                        </div>

                    </div>

                </form>
      </div>
    </div>
  </div>
</div>
